.navbar-container {
  padding-left: 12px;
  padding-right: 12px;
}
.navbar-container img {
  width: 130px;
}
.navbar-container ul {
  margin: 0;
  padding: 0;
}
.navbar-container li {
  font-family: "Poppins", serif;
  list-style: none;
  display: inline;
  padding-left: 15px;
  line-height: 42px;
}
.navbar-container a {
  text-decoration: none;
  color: black;
}
.navbar-container .active {
  color: #6c63ff;
}
nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero {
  text-align: center;
  background-color: #f9f7fd;
  padding: 160px 20px;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  font-style: normal;
}
.hero h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 24px;
}
.hero p {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 36px;
}
.hero .btn-branding {
  background-color: #6c63ff;
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 18px;
}
.hero .btn-branding:hover {
  background-color: #6c63ff;
  padding: 18px 30px;
  border-radius: 4px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 18px;
}
p {
  font-family: "Poppins", serif;
  font-size: 18px;
}
.col h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
}
.col h5 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.col p {
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 30px;
  color: #6c757d;
}
.app-text {
  padding: 100px 60px;
}
.app-text .btn-app {
  color: #6c63ff;
  border: #6c63ff solid 1px;
  border-radius: 4px;
  padding: 18px 30px;
}
.app-text .btn-app:hover {
  border: #6c63ff solid 1px;
  border-radius: 4px;
  padding: 18px 30px;
}
.about-description {
  padding: 160px 20px;
}
.app-text-about {
  margin: 30px;
}
.app-text-about .btn-about {
  color: white;
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
}
.app-text-about .btn-about:hover {
  background-color: #6c63ff;
  border-radius: 4px;
  padding: 15px 30px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  font-style: normal;
}
.work-container {
  padding: 160px 20px;
}
.work-title {
  font-size: 64px;
}
.work-description {
  text-align: center;
}
.work-name-text {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.work-text {
  font-family: "Poppins", serif;
  font-size: 14px;
  line-height: 30px;
  color: #6c757d;
}
.contact-container {
  padding: 160px 20px;
  margin: auto 106.5px;
}
.contact-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  font-style: normal;
}
.contact-media {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.contact-links {
  font-family: "Poppins", serif;
  font-style: normal;
}

@media (max-width: 1000px) {
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .hero p {
    font-size: 24px;
  }
  .col h2 {
    font-size: 50px;
    text-align: center;
  }
  .app-text {
    padding: 40px 20px;
  }
  .container {
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  .navbar-container img {
    width: 30px;
  }
  .about-description {
    padding: 30px;
  }
  .work-container {
    padding: 50px;
  }
}
